body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  p {
    text-align: center;
    margin-top: 10px;
  }
  
  #roll-button {
    padding: 5px;
    font-size: 16px;
    margin-left: 10px;
  }
  
  #result-message {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }
  